html, body{
    height: 100%;
    width: 100%;
}






*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat";   
    color: #fff;


}

#cursor{
    height: 25px;
    width: 25px;
    background-color: #95c11e;
    border-radius: 50%;
    position: fixed;
    z-index: 99

}


#nav{
    height: 145px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    padding: 0 150px;
    gap: 40px;
    z-index: 99;
     
}

#nav h4{
    text-transform: uppercase;
    font-weight: 500 ;
}

.video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#main{
    position: relative;
background-color: rgba(0,0,0, 0.37);

}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#page1 h1{
    font-size: 140px;
    font-weight: 900;
    position: relative;
}

#page1 h1::before{
    content: 'EAT.DRINK.PLAY';
    position: absolute;
    top: -4px;
    color: black;
    left: 2px;
    z-index: -1;
    -webkit-text-stroke: 1px #95c11e;

}

#page1 h2{
    font-size: 40px;
    margin: 30px;
}
#page1 h3{
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}

#page2{
   height: 100vh; 
   width: 100%;
}

